backend/__pycache__/
backend/*/__pycache__/
backend/db.sqlite3
backend/.pytest_cache/
backend/.venv/
backend/env/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
*.pyc
*.pyo
*.pyd
.DS_Store
